body {
    font-family: "Inter", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #222;
}

header {
    background-color: #8B0000;
    color: white;
    padding: 25px;
    text-align: center;
    border-bottom: 4px solid #b30000;
}

header h1 {
    margin: 0;
    font-size: 2.2rem;
    font-weight: 700;
}

nav {
    margin-top: 12px;
}

nav a {
    text-decoration: none;
    color: #ffeaea;
    font-weight: 600;
    margin: 0 12px;
    transition: 0.3s;
}

nav a:hover {
    color: #ffffff;
    text-shadow: 0 0 6px white;
}

.hero-img1{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 2%;
    width: 90vw;
    height: 20vh;
    background-image: linear-gradient(rgba(90, 90, 90, 0.5)), url(about\ this\ web.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 12px;   
}

.hero-img1 .hero-text{
    display: flex;
    justify-content: center;
    padding-top: 2%;
    position: absolute;
    color:#f0f0f0;
    font-size: larger;
}

.para1{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    color: #842929;
}

.hero-img2{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 2%;
    width: 90vw;
    height: 20vh;
    background-image: linear-gradient(rgba(90, 90, 90, 0.5)), url(meet\ our\ team.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 12px; 
}

.hero-img2 .hero-text{
    display: flex;
    justify-content: center;
    padding-top: 2%;
    position: absolute;
    color:#f0f0f0;
    font-size: larger;
}

.member{
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90vw;
}

.member-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    background-color: #842929;
    color: #f0f0f0;
    width: 20%;
    box-shadow: 10px 10px 10px rgba(90, 90, 90,0.5);
    border-radius: 12px;
}

.member-img{
    display: flex;
    width: 100%;
    height: 100%;
}

.member-img img{
    width: 100%;
    height: 100%;
    border-radius: 12px 12px 0px 0px;
}

.member .member-box:hover {
    color: #ffffff;
    text-shadow: 0 0 6px white;
    transform: scale(1.05);
}

ul, li{
    list-style-type: none;
}