body {
  margin: 0;
  background: #f0f0f0;
  font-family: Inter, sans-serif;
}

.hero-img1{
    width: 100vw;
    height: 20vh;
    background-image: linear-gradient(rgba(0,0,0,0.5)), url(about\ this\ web.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  padding-top: 2%;
  padding-left: 40%;
  color:#f0f0f0;
  font-size: larger;
}

.para1{
    margin: 2%;
    padding-bottom: 2%;
    text-align: center;
    color: #842929;
}

.hero-img2{
    width: 100vw;
    height: 20vh;
    background-image: linear-gradient(rgba(0,0,0,0.5)), url(meet\ our\ team.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.member{
    display: flex;
    flex-direction: row;
}

.member-box{
    display: flex;
    margin: 2%;
    background-color: #842929;
    color: #f0f0f0;
    width: 20%;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}

ul, li{
    list-style-type: none;
}