table {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
  background: white;
}

th, td {
  padding: 8px;
  text-align: center;
}

th {
  background-color: #007bff;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
